@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 0px #FDE884);
  }

  50% {
    filter: drop-shadow(0 0 7px #FDE884);
  }

  100% {
    filter: drop-shadow(0 0 0px #FDE884);
  }
}

.heart {
  animation: glow 3s infinite;
  fill: #FDE884;
}

.hover-scale:hover {
  transform: scale(1.2); /* or whatever scale factor you prefer */
  transition: transform 0.3s; /* optional: for a smooth transition effect */
}